<!DOCTYPE html>
<html>

<style>
    .dot {
        height: 100px;
        width: 100px;
        background-color:lightskyblue;
        border-radius: 50%;
        display: inline-block;
    }
    .dot2 {
        height: 100px;
        width: 100px;
        background-color:lightskyblue;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<body style="text-align:center;background-color:tomato;">
    
    <h1>1. night</h1>
    <p>Cupid awakes</p>
    <p>Select the lovebirds</p>

    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot2"></span>
    <span class="dot2"></span>
    <span class="dot2"></span>
    <span class="dot2"></span>

</body>

</html>