<!DOCTYPE html>
<html>
<body>

<h1>Werewolfs of Miller's Hollow</h1>
<p>Welcome to the game!</p>

<form action="#">
  <label for="fname">Number of players</label>
  <input type="text" id="fname" name="fname"><br><br>

  <input type="submit" value="Submit">
</form>


<p>Assign roles to the players:</p>
<form action="#">
    <label for="cars">Player 1:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>
    <label for="cars">Player 2:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>
    <label for="cars">Player 3:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>
    <label for="cars">Player 4:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>
        <label for="cars">Player 5:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>
    <label for="cars">Player 6:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>
    <label for="cars">Player 7:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>
    <label for="cars">Player 8:</label>
        <select name="cars" id="cars">
            <option value="villager">Villager</option>
            <option value="werewolf">Werewolf</option>
            <option value="seer">Seer</option>
            <option value="cupido">Cupido</option>
            <option value="hunter">Hunter</option>
        </select>
        <br><br>


    
    <input type="submit" value="Submit">
  </form>
